/** HEADER **/
    #header-nav {  /* referencia a id header nav*/
    background-color: #f6b319; /* se establece el color como fondo*/
    border-radius: 0;  /* sin redondiado*/
    border: 0;
    }
    #logo-img { /* referencia a id logo-img*/
    background: url('../images/restaurant-logo_large.png') no-repeat; /* el fondo es la imagen logo large*/
    width: 150px; height: 150px; /*Establece un tamaño te 150 x 150 px*/
    margin: 10px 15px 10px 0; /* un margen de bot  izquierda derecha top */
    }
    .navbar-brand { /* referencia a clase navbar-brand*/
    padding-top: 25px; /*margen de 25 pixeles desde top*/
    }


    .navbar-brand h1 { /* referencia a todos los h1 de la clase navbar-brand*/
        /* Restaurant name */
    font-family: 'Lora', serif; /* Utilza el font lora*/
    color: #557c3e; /* color de texto */
    font-size: 1.5em;/* tamaño de texto */
    text-transform: uppercase; /*convertir a mayusculas*/
    font-weight: bold; /*Negrita*/
    text-shadow: 1px 1px 1px #222; /*sombra de texto x,y, redondeo blur, color  */
    margin-top: 0; /* 0 de margen en top y botton*/
    margin-bottom: 0;
    line-height: .75; /* distancia entre lineas de texto*/
    }

    .navbar-brand a:hover, .navbar-brand a:focus { /*referencia a  la etiqueta a de la clase navbar-brnad solo cuadno se pasa el mouse o se selecciona con tabulador o de alguna manera */
    text-decoration: none; /*sin decoracion*/
    }
    

    .navbar-brand p {  /*referencia a las etiquetas p de la clase navbar-brand*/ 
        /* Kosher cert */
    color: #000; /*color de texto negro*/
    text-transform: uppercase; font-size: .7em; /*texto a mayusculas y tamaño de texto*/
    margin-top: 15px; /*margen de 15 px */
    }
    .navbar-brand p span {/*referecia a las etiquetas span dentro de una etiqueta p en la clase navbar-brand*/ 
        /* Star-K */ 
        vertical-align: middle; /*se alinea verticalmente */
    }
        
    /** todas las #nav-list afectan al id nav-list 
        con un margen superior de 10 px 
        en la etiqueta a dentro de navlist el color es rojo y centrado y cuando se pasa por 
        encima el cursor el background cambia blanco el tamaño dentro span dentro de a en la nav-list
        es de 1.8**/
    #nav-list {
    margin-top: 10px;
    }
    #nav-list a {
     color: #951C49;
    text-align: center;
    }
    #nav-list a:hover { 
        background: #E7E7E7;
    }
    #nav-list a span { 
        font-size: 1.8em;
    }

    /** todas las #phone afectan al id phone
        con un margen superior de 5px 
        la etiqueta a se alinea  a la derecha y sin separacion co nel borde inferior 
        el texto en div dentro de phone es de color verde se alinea a la derecha 
        y tiene un espacio de 15 px respecto a la derecha **/

    #phone {
        margin-top: 5px;
    }

    #phone a { /*phone number*/
        text-align:  right;
        padding-bottom: 0;
    }

    #phone div { 
        /* We Deliver */
         color: #557c3e;
        text-align: right; padding-right: 15px;
        }


    /** afectan al boton con clase navbar-toggle dentro de la clase navbar-header
    tambien la la clase icon-bar dentro de navbar-header
    con un borde de 1px de color guindo, tambien se 
    establece un margen superior de  - 30px para alinear para que la barra de navegación 
    no baje hasta la estrella de kosher, así como también el clear especifica
     si un elemento puede estar al lado de elementos flotantes , 
     both indica que el elemento es movido hacia abajo para limpiar
     elementos flotantes para alinear  
      el boton de navegación con el nombre de la chifa**/
    .navbar-header button.navbar-toggle, .navbar-header
    .icon-bar {
        border: 1px solid #61122f;
        }
    .navbar-header button.navbar-toggle {
        clear: both;
        margin-top: -30px;
    }




    /********** Large devices only **********/
@media (min-width: 1200px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
/* Header */
/* para dispositivos entre 992 y 1199 el background es de la imagen con medidas de 100 x 100 px '
y margenes inferior  izquierdo y derecho de 5 px*/
#logo-img {
background: url('../images/restaurant-logo_medium.png') no-repeat; width: 100px;
height: 100px; margin: 5px 5px 5px 0;
}
/* End Header */
}
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
}




/********** Extra small devices only **********/ 
/** En dispositivos con tamaño menor a 767 la barra de navegacion 
    tiene un espaciado de 10 px superior y un alto de 80
    el H1 tiene un espaciado de 10px y un tamaño de 5% del ancho de vista
    el texto en p es de 6 u tiene un margen superior de 12
    el ancho de la imagen dentro de p en la navbar  es de 20 px de alto **/
@media (max-width: 767px) {
    /* Header */
    .navbar-brand { 
        padding-top: 10px; height: 80px;
    }
    .navbar-brand h1 { /* Restaurant name */
        padding-top: 10px;
        font-size: 5vw; /* 1vw = 1% of viewport width */
    }
    .navbar-brand p { /* Kosher cert */
        font-size: .6em; margin-top: 12px;
    }
    .navbar-brand p img { /* Star-K */ 
        height: 20px;
    }
    #collapsable-nav a { 
        /* Collapsed nav menu text tamaño de letra 1.2 
        en la etiqueta a dentro del id collapsable nab */
        font-size: 1.2em;
    }
    #collapsable-nav a span { 
        /* Collapsed nav menu glyph
        tamaño de letra de 1 en el texto de span, dentro de a en el id collapsable nav 
        y un margen derecho de 5px */ 
        font-size: 1em;
        margin-right: 5px;
    }
    #call-btn > a { 
        /* a las eitquetas a hijos direcots del id call-btn
        letra 1.5, se bloquea el display, margen izquierdo de 20 espaciado de 10 
        borde de 2px de color blanco, fondo amarillo y color de texto rojo */

        font-size: 1.5em; display: block; margin: 0 20px; padding: 10px;
        border: 2px solid #fff; background-color: #f6b319; color: #951c49;
    }
    #xs-deliver {
        /* id xs-deliver
          margen 5px superior 
          tamañó de letra .7 espaciado de letra .1em todo en mayuscula */
         margin-top: 5px; font-size: .7em;
        letter-spacing: .1em;
        text-transform: uppercase;
    }
    /* End Header */

    }
